
<h2>ユーザー登録内容照会ページ</h2>

<table class="table">
    <tr>
        <th class="text-center">ID</th>
        <th class="text-center">ユーザー名</th>
        <th class="text-center">メールアドレス</th>
    </tr>
    <tr>
        <td class="text-center"><%= @user.id %></td>
        <td class="text-center"><%= @user.name %></td>
        <td class="text-center"><%= @user.email %></td>
    </tr>
</table>
